.btn {
    margin-top: 20px;
    background-color: #1976d2;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.login{
    margin-top: 30px;
    background-color: rgb(194, 228, 242);
    border-radius: 5px;
    padding: 30px;
}