.container {
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
  gap: 20px;
}

.col {
  flex: 1;
}

.card {
  border: 1px solid #ddd;
  border-radius: 6px;
}

.card-header {
  padding: 10px;
  font-weight: bold;
  background-color: #2564eba5;
  
}

.card-body {
  padding: 10px;
  
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.product img {
  width: 90px;
  height: 100px;
  margin-right: 10px;
  border-radius: 5px;
}

.product .info {
  flex: 1;
}

.btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-danger {
  background: #dc2626;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 6px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}
